body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

.navbar__wrapper {
  width: 100vw;
  height: 50px;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;

  .title__container {
    z-index: 1;
    color: rgb(255, 255, 255);
    margin: 30px;
    margin-top: 60px;

    h1 {
      font-size: 40px;
    }
  }

  .menu__container {
    z-index: 1;
    margin: 20px 20px 0 0;
    color: black;
    font-size: 40px;
  }
}

.landing-page__wrapper {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  display: flex;

  .black-side__wrapper {
    width: 50%;
    height: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 100px;
    }

    .black-content__container {
      width: 431px;
      height: 193px;
      transform: translateY(-70px);

      h1 {
        font-size: 60px;
        line-height: 0.85;
      }
      button {
        width: 185px;
        height: 76px;
        border-radius: 19px;
        border: none;
        font-size: 24px;
        background-color: white;
        font-weight: 700;
        font-family: poppins;
      }
    }
  }

  .white-side__wrapper {
    width: 50%;
    height: 100%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    .white-content__container {
      height: 338px;
      width: 277px;

      h1 {
        font-size: 60px;
        line-height: 0.85;
      }
      button {
        width: 185px;
        height: 76px;
        border-radius: 19px;
        border: none;
        font-size: 24px;
        background-color: black;
        color: white;
        font-weight: 700;
        font-family: poppins;
      }
    }
  }
}

.project-component__wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 400px;
    height: auto;
    border-radius: 20px;
    margin: 10px;
  }

  .project-left-component__wrapper {
    width: 900px;
    height: 500px;
    background-color: grey;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 20px;

    h1 {
      font-family: Poppins;
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: -0.045em;
    }

    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 100.69%;
      letter-spacing: -0.045em;
      width: 432px;
      height: 214px;
    }
  }

  .project-right-component__wrapper {
    width: 900px;
    height: 100%;
    margin: 10px;
    padding: 30px;
    display: flex;

    .content__container {
      margin: 10px;
    }

    h1 {
      font-family: Poppins;
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: -0.045em;
      margin: 0;
    }

    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 100.69%;
      letter-spacing: -0.045em;
      width: 432px;
      height: 214px;
    }
  }
}
